<!-- body -->
<div class='container'>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">独立团</h4>
        </div>
        <div class="panel-body">
            <p class="lead">有问题请联系 dulituan@iqianjin.com</p>
        </div>
        <dt>{{title}}</dt>
    </div>

    <!-- footer -->
    <div class="footer">
        <p>© Company 2016</p>
    </div>
</div>